body {
    text-align: center;
}
h1{
    
  font-family:Arial;
  font-size:36px;
}
p{
    
  font-family:Arial;
  font-size:26px;
}
span{
    color: blue;
    font-weight: bold;
}

span:hover{
    color: whitesmoke;
    background-color: black;
}
.geeks {
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
    color: black;
}